* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.border2 {
    border: 2px solid red;
}

/* =====>Fixed-btns<===== */
.fixed-btns .gear {
    width: 40px;
    height: 40px;
    background-color: white;
    color: black;
    border-radius: 2px 2px 5px 5px;
    position: fixed;
    top: 30%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fixed-btns .scroll-top {
    width: 40px;
    height: 40px;
    background-color: white;
    color: black;
    border-radius: 2px 2px 5px 5px;
    position: fixed;
    bottom: 3%;
    right: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* =====>Navbar<===== */
.navbar-default {
    padding: 50px 0 40px;
    background: none;
    border: none;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.navbar-default .navbar-nav li a {
    color: white;
}

/* =====>home<===== */
.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(imgs/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.developer h2 {
    position: relative;
    transition: all 1s;
}

.developer p {
    width: 419px;
    overflow: hidden;
    margin: 0 auto;
    white-space: nowrap;
    animation: Typing 3s 2s both infinite
}

@keyframes Typing {
    from {
        width: 0px;
    }

    to {
        width: 418px;
    }
}

.icon {
    /* background-color: red; */
}

.icon i {
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.285);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bouncing-btn {
    width: 30px;
    height: 50px;
    border: 2px solid white;
    border-radius: 20px;
    transform: translateY(80px);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    animation-name: Bouncing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.bouncing-btn::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(25px);
}
@keyframes Bouncing{
    0%{
        transform: translateY(75px);
    }
    25%{
        transform: translateY(90px);
    }
    50%{
        transform: translatey(76px);
    }
    75%{
        transform: translateY(90px);
    }
    100%{
        transform: translateY(75px);
    }

}

/* =====>About<===== */
.image-hero {
    position: absolute;
    top: 0%;
    left: 9%;
}

.dots {
    width: 310px;
    margin-top: 105px;
}

.image-hero img {
    width: 400px;
}

.hero {
    width: fit-content;

}

.contact-me a,
.downloadCv a {
    transition: all .5s;
}

.contact-me,
.downloadCv {
    display: inline-block;
}

.contact-me a:hover {
    color: white;
    background-color: black;


}


.downloadCv a:hover {
    background-color: white !important;
    color: black !important;
}

/* =====>Services<===== */

.services {
    background-color: #F7F7F7;
}

.icon-services i {
    font-size: 30px;
    background-color: #F7F7F7;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

.hover-icon:hover i {
    background-color: black;
    color: white;
}

/* =====>portofolio<===== */
.fit-content {
    width: fit-content;
}

.nav-link {
    color: black;
}

/* .nav-item .active::before{
    content: "";
    width: 16px;
    height: 3px;
    background-color: black;
    position: absolute;
    top: 85%;
} */
.layer {
    position: absolute;
    top: 2%;
    right: 2%;
    bottom: 2%;
    left: 2%;
    transition: all 0.8s;
}

.layer:hover {
    background-color: rgba(255, 255, 255, 0.845);
}

.layer-icon i {
    font-size: 13px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.layer-icon {
    transform: translateY(399px);
    transition: all 0.9s;

}

.big-layer:hover .layer-icon {
    transform: translateY(120px);

}

.layer-text {
    transform: translateY(-40px);
    transition: all 0.9s;
}

.big-layer:hover .layer-text {
    transform: translateY(120px);
}

/* =====>Testimonials<===== */
.Testimonials {
    background-color: #F7F7F7;
}

.img-fluid {
    width: 100px;
}

.text-paragraph {
    width: 800px;
}

.carousel-item {
    color: gray;
}

.carousel-indicators [data-bs-target] {
    width: 20px;
    height: 0px;
    margin: 5px 7px;
    background: #d6d6d6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 0.2s ease;
    border-radius: 50px;
}

.carousel-indicators .active {
    background: #8a9f97;
}

/* =====>Numbers<===== */
.text-grey {
    color: gray;
}

/* =====>OurTeam<===== */
.OurTeam {
    background-color: #F7F7F7;
}

.icon-ourteam {
    position: absolute;
    top: 1%;
    right: 1%;
    bottom: 23%;
    left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;


}

.icon-ourteam i {
    font-size: 13px;
    background-color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all .5s;
    cursor: pointer;
    transform: translateY(-250px);
}

.icon-ourteam i:hover {
    background-color: white;
    color: black;
}

.card:hover .icon-ourteam {
    background-color: rgba(255, 255, 255, 0.912);
    transform: rotateY(360deg);

}

.card:hover .icon-ourteam i {
    transform: translateY(0px);
}

.card:hover img {
    transition: all .6s, .6s;
}

.card:hover img {
    transform: scale(1.05);
}

/* =====>Contact Us<===== */
.location i {
    font-size: 13px;
    background-color: #F4F4F4;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    transition: all .5s;
}

.location:hover i {
    background-color: black;
    color: white;
}

.Name input {
    width: 100%;
    padding: 5px;
    background-color: #F4F4F4;
}

textarea {
    background-color: #F4F4F4;
    width: 100%;
}

.submit a {
    transition: all .5s;
}

.submit a:hover {
    background-color: white !important;
    color: black !important;
}

.copy-right {
    background-color: #1C1C1C;
}

.text-copy-right {
    color: #748182;
}