body{
    background-color: #F7ECDE;
}

h1{
    position: relative;
    z-index: 1;
    font-family: 'Pacifico', cursive;
    border-bottom: dotted; 
}

h1::before{
    content: "";
    width: 285px;
    height: 20px;
    background-color: #FEC260;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 55%;
    z-index: -1;
    transition: all .5s;
    overflow: hidden;
    
}
h1:hover::before{
    height: 40px;
    top: 44%;
}

h2{
    font-family: "Righteous", cursive;
    /* font-size: 25px; */
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bor{
    border-top:dotted ;
}